@import 'tailwindcss';

@theme {
	/* GrayScale */
	--color-gray-01: #fcfcfc;
	--color-gray-02: #f6f6f6;
	--color-gray-03: #ececec;
	--color-gray-04: #dcdcdc;
	--color-gray-05: #c4c4c4;
	--color-gray-06: #b0b0b0;
	--color-gray-07: #8a8a8a;
	--color-gray-08: #5c5c5c;
	--color-gray-09: #303030;
	--color-gray-10: #121212;
	--color-white: #ffff;

	--color-primary-100: #fcfcfc;
	--color-primary-200: #beee05;
	--color-primary-300: #b4e300;
	--color-primary-400: #7fb50d;
	--color-primary-500: #222b0f;
	--color-primary-600: #1f2511;

	/* Danger */
	--color-danger-01: #ff4242;
	--color-danger-02: #ff6b6b;

	/* Font */
	--tw-font-heading: 'Pretendard', 'Inter', sans-serif;
}
